{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Kinkas Confeitaria.png" type="image/x-icon" />
    <title>Compras</title>
</head>
<body>

    <nav>
        <a href="{% url "url_index" %}">Kinkas Confeitaria</a> 
        <ul>
            <li><a href="{% url "url_index" %}">Home</a></li>
            <li><a href="{% url "url_contato" %}">Contato</a></li>
            <li><a href="/logout">Logout</a></li>
            <li id="carrinhow">
                <img src="../static/img/carrinho.png" alt="" width="30px">
                <a href="{% url 'cart:cart_detail' %}" src="../static/img/carrinho.png">Carrinho</a>
            </li>
        </ul>
    </nav>


        <div id="titulo">
            <h1>Produtos</h1>
        </div>


    <div id="produtoscompra">
        {% for produto in produtos %}
            {% if produto.ativo == 'ativo' %}
                <div id="produtocom">
                    <img src="../media/{{ produto.img }}" alt="produto">
                    <p>{{ produto.nome}}</p>
                    <p>Kg: {{ produto.kg }} </p>
                    <p>Preço: R$ {{ produto.preco }}0</p>

                    <form action="{% url 'cart:cart_add' product_id=produto.id %}" method="POST">
                        {{form}}
                        <input type="submit" value="Adicionar ao carrinho" class="botao">
                        {% csrf_token %}
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <footer>
        <a href="#">Voltar</a>

        <p>Kinkas Confeitaria trazendo o sabor a sua vida desde 2015</p>
    </footer>
    
</body>
</html>